.container {
    font-family: 'Zen Maru Gothic', 'Yu Gothic', sans-serif;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.container h1 {
    color: #525252e3;
    font-family: 'Nunito', 'Yu Gothic', sans-serif;
}