.container {
    /* background-color: #fdede4; */
    font-family: 'Helvetica', 'Arial', 'Yu Gothic', 'Meiryo', sans-serif;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    /* margin-top: 100px; */
}