.paper {
    display: flex;
    align-items: center;
    width: 370px;
    border: 1px solid #eaeaea;
    padding: 12px;
    margin: 19px 0;
    gap: 8px;
}


.checkboxWrapper {
    flex-shrink: 0;
}

.titleWrapper {
    flex-grow: 1;
    word-break: break-word;
}

.buttonWrapper {
    flex-shrink: 0;
}

.title {
    text-decoration: none;
}

.titleDone {
    flex-grow: 1;
    text-decoration: line-through;
}